@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


html {
  scroll-behavior: smooth;
}

.containerb h1, .containerb h2{
  color: #00482B; /* Color de los títulos */
  text-align: center; /* Centrar el texto */
  margin: 20px 0; /* Agregar margen superior e inferior para separarlos del contenido */
  font-size: 28px;
}

/* Estilo para el texto */
.containerb p {
  text-align: center; /* Centrar el texto */
  margin: 0 80px; /* Agregar margen a los lados para evitar que llegue a los bordes */
  margin-bottom: 20px;
  
}

.containerb ul {
  margin-left: 50px; /* Margen izquierdo de la lista */
  padding-left: 20px; /* Espacio adicional a la izquierda de la lista */
  margin-right: 20px; /* Margen derecho de la lista */
}

.containerb ul li {
  margin: 10px 0; /* Espacio entre elementos de la lista */
}

.containerb strong {
  font-weight: bold; /* Texto en negrita para la libreta de calificaciones */
}

.custom-list {
  list-style-type: disc; /* Tipo de viñetas para esta lista específica */
  margin-left: 20px; /* Margen izquierdo para esta lista específica */
  padding-left: 20px; /* Espacio adicional a la izquierda de la lista (igual que el margen izquierdo) */
}
/* canvas{
    display:block;
    vertical-align:bottom;
   } */
   
canvas{
  display:block;
  /* vertical-align:bottom; */
} 

body {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(145, 145, 145, 0.213);
    flex-direction: column;
}

.containerb{
    margin:auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;


    
}


/* ---- particles.js container ---- */


#particles-js {

  width: 100%;
  height: 68vh;

  background-image: url('../img/animbanner.gif');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: 50% 0%;

} 







/* .panelbanner{
    position: absolute;
    top: 50%;
    left: 15%;
    margin: -120px 0 0 -100px;
    padding: 20px;
    z-index: 100; 

}
.panelbanner img {
    transition: transform 0.2s ease-in-out; 
    width: 20%;
    margin-bottom: 100px;
    user-select: none;

}
.panelbanner img:hover{
    transform: scale(1.2);
} 
.panelbanner h1 {
    font-weight: 700;
    font-size: 7rem;
    line-height: 71px;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.panelbanner p {
    padding-top: 40px;
    font-weight: 400;
    font-size: 4rem;
    line-height: 34px;
    color: #79BA00;
} */

@keyframes sube-y-baja {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.animflecha{
    margin: 20px;
    width: 3%;
    animation-name: sube-y-baja;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Estilos Productos */
#productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 20px;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.producto img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.producto h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  height: 50px;
}

.producto p {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 20px;
  margin: 0 20px; /* Agregar margen a los lados para evitar que llegue a los bordes */
  height: 640px;
}

.producto a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.producto a:hover {
  background-color: #007b3e;
}

  

 /* Estilos Footer */
 footer {
    background-color: #2d2d2d;
    color: #fff;
    padding: 50px 0;
    margin-top: 50px;
    width: 100%;
  }
  
  .containerf {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    max-width: 1200px;
    margin: 0 auto;
    top: 50px;
    
    
  }
  .footer-logo,
  .footer-links,
  .footer-contact,
  .footer-social {
    display: inline-block;
    margin-right: 10px;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }

  .footer-logo img {
    max-width: 90%; /* El ancho máximo es el 100% del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  }
  
  .footer-links h3,
  .footer-contact h3,
  .footer-social h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .footer-links ul,
  .footer-contact ul,
  .footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links li,
  .footer-contact li,
  .footer-social li {
    margin-bottom: 15px;
  }
  
  .footer-links a,
  .footer-contact a,
  .footer-social a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover,
  .footer-contact a:hover,
  .footer-social a:hover {
    color: #007b3e;
  }
  
  .footer-social i {
    font-size: 2rem;
    margin-right: 10px;
  }
  
  .credential-container, .graduate-container {
    max-width: 800px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.credential-message, .graduate-message {
    text-align: center;
}

.credential-message h2, .graduate-message h2 {
  color: #00482B;
  text-align: center;
  margin: 20px 0;
  font-size: 28px;
}

.credential-message p, .graduate-message p {
    color: #666;
    margin-bottom: 15px;
}

.recovery-button, .graduate-button {
    font-size: 16px;
    padding: 20px 20px;
    margin-bottom: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recovery-button:hover, .graduate-button:hover {
    background-color: #007b3e;
}
.welcome-text {
  font-size: 24px;
  font-weight: bold;
  color: #007b3e; /* verde */
}

.see-you-text {
  font-style: italic;
  color: #00482B; /* azul */
}


 @media screen and (max-width: 600px) {


  #particles-js {

    width: 100%;
    height: 20vh;
  
  } 

  footer {
    max-width: 100%; /* Ancho máximo del footer */
    margin: 0 auto; /* Centrado horizontal del footer */
  }
  .containerf {
    flex-direction: column; /* Establece la dirección del contenido en columna */
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center;
  }
  
  .footer-links,
  .footer-contact,
  .footer-social {
    width: 100%;
    margin-bottom: 40px;
  }
  .producto {
    width: 100%;
  }

}


/* Para pantallas medianas */
@media screen and (min-width: 600px) and (max-width: 992px) {

  #particles-js {
    height: 50vh;
  }

}

/* Para pantallas grandes */
@media screen and (min-width: 993px) {

  #particles-js {
    height: 60vh;
  }

}

/* Para pantallas muy grandes */
@media screen and (min-width: 1200px) {

  #particles-js {
    height: 70vh;
  }


}

